<!DOCTYPE html>
<html>
<head>
  <title>BangAGong</title>
  <%= stylesheet_link_tag    "bang_a_gong/application", :media => "all" %>
  <%= javascript_include_tag "bang_a_gong/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
